* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 12px;
    min-height: 100vh;
    background-color: #fff;
}
ul li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3 {
    font-family: "Bebas Neue";
    font-weight: inherit;
    font-size: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("../img/loading.gif") 50% 50% no-repeat;
    background-size: 64px 64px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 15;
    display: none;
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 30px 0 15px 0;
    z-index: 100;
    color: #fff;
}
.header.active {
    transition: all 0.2s;
    background-color: #0b1129;
}
.header .container {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 600;
}
.header__logo {
    width: 110px;
    margin-right: 150px;
    display: flex;
    cursor: pointer;
}
.header__logo img {
    display: block;
    max-width: 100%;
}
.navigation__list-item {
    display: inline-block;
    margin-right: 32px;
    position: relative;
}
.navigation__list-item:hover::after,
.navigation__list-item.active::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.header__phone {
    margin: 0 0 0 auto;
}
.general {
    height: 100vh;
    width: 100%;
    background: url("../img/bg-cover.jpg") no-repeat center top;
    background-size: cover;
    position: relative;
    color: #fff;
}
.general::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}
.general .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
}
.general__content-title {
    font-size: 48px;
    margin-bottom: 20px;
}
.general__content-text {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 37px;
}
.general__content-btn {
    font-size: 18px;
    padding: 17px 80px;
    border-radius: 5px;
    background-color: #5c78f9;
    box-shadow: 0px 4px 4px rgba(92, 120, 249, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}
.general__content-btn:hover {
    box-shadow: none;
    background-color: #4e66d3;
}
.general__photo {
    width: 396px;
    align-self: flex-end;
    height: calc(89vh - 102px);
    background: url(../img/general-photo.png) no-repeat center;
    background-size: contain;
}
.slide-left {
    display: none;
}
.main,
.view {
    width: 100%;
    padding-top: 110px;
}
.fighters__wrapper,
.products__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 15px 0 20px 0;
}
.fighter,
.product__cart {
    padding: 15px;
    border-radius: 5px;
    background: #0b1129;
    color: #fff;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}
.fighter:hover,
.product__cart:hover {
    box-shadow: none;
    background: #0e183d;
    transition: all 0.3s;
}
.fighter__photo,
.product__cart-photo {
    width: 100%;
    height: 210px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #212741;
    position: relative;
    overflow: hidden;
}
.fighter__photo img,
.product__cart-photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    object-fit: cover;
    top: 0;
    left: 0;
}
.fighter__name,
.product__cart-name,
.fullcart__info-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.fighter__small-text {
    font-size: 16px;
    line-height: 23px;
}
.price__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__cart-price {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    color: #af9f79;
}
.buy__btn {
    -webkit-appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    color: #fff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(208, 208, 208, 0.15);
    -moz-box-shadow: 0px 5px 8px 0px rgba(208, 208, 208, 0.15);
    box-shadow: 0px 5px 8px 0px rgba(208, 208, 208, 0.15);
}
.buy__btn:hover {
    background-color: rgb(252, 76, 45);
    box-shadow: none;
}
.btns__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.btn__load,
.simple__form-submit {
    border: 0;
    -webkit-appearance: none;
    color: #fff;
    cursor: pointer;
}
.footer {
    padding-top: 40px;
    min-height: 650px;
    background-color: #171e3b;
    color: #fff;
    position: relative;
}
.footer__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .logo img {
    display: block;
    max-width: 100%;
}
.send__form-wrapper {
    flex: 0 0 400px;
}
.sendform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}
.sendform-input {
    -webkit-appearance: none;
    border: none;
    cursor: text;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(43, 48, 83, 0.7);
    color: #fff;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(8, 17, 24, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(8, 17, 24, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(8, 17, 24, 0.2);
}
.sendform-input:focus {
    outline: none;
}
.sendform-textarea {
    resize: none;
    height: 160px;
    overflow: hidden;
}
.send__mail {
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: #fff;
}
.small-title {
    font-size: 18px;
}
.links__imgs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.footer__created {
    background-color: rgb(0, 3, 15);
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.footer__created-wrapper {
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.view-wrapper {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #4e66d3;
}
.view__photo {
    position: relative;
    height: 370px;
    width: 100%;
}
.view__photo img,
.fullcart-photo img {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    object-fit: cover;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
}
.view__info {
    margin-left: 2rem;
    min-width: 25%;
}
.view__info-name {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}
.info__item {
    padding: 15px 0;
    border-bottom: 1px solid #4e66d3;
    font-size: 20px;
}
.info__item-title {
    color: #3b3b3b;
    margin-bottom: 10px;
}
.info__item-value {
    text-transform: uppercase;
    font-weight: bold;
}
.info__item-multicolumn {
    display: flex;
    justify-content: space-between;
}
.info__column {
    margin-right: 30%;
}
.view__photo-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.view__text {
    font-size: 16px;
    line-height: 25px;
}
.view__text-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.comments {
    padding: 40px 0;
}
.simple__form {
    display: flex;
    flex-direction: column;
    max-width: 540px;
}
.simple__form-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.simple__form-collector {
    display: flex;
    justify-content: space-between;
}
.simple__form-collector .simple__form-item {
    width: 48%;
}
.simple__form-item {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.simple__form-input,
.simple__form-textarea {
    -webkit-appearance: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0e183d;
}
.simple__form-textarea {
    min-height: 130px;
    resize: vertical;
}
.comments__bb {
    padding: 20px 0;
    border-bottom: 1px solid #4e66d3;
}
.peoples__comments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 15px 0 20px 0;
}
.comment {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0e183d;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
}
.user {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.user__photo {
    flex: 0 0 52px;
    height: 52px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: rgba(92, 109, 255, 0.7);
}
.user__info {
    flex: 0 0 100%;
}
.user__info-name {
    font-size: 20px;
    font-weight: bold;
}
.user__info-email {
    font-size: 16px;
    color: #a0a0a0;
}
.comment__text {
    font-size: 16px;
    line-height: 20px;
}
.loading {
    display: none;
    width: 100%;
    height: 52px;
    background: url("../img/loading.gif") 50% 50% no-repeat;
    background-size: 52px 52px;
    margin-bottom: 15px;
}
.header__fake {
    height: 75px;
    width: 100%;
}
.shop-content {
    padding-top: 60px;
}
.title1 {
    font-size: 32px;
    color: #0e183d;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz";
}
.title2 {
    margin-top: 15px;
    font-size: 24px;
    color: #212741;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz";
}
.cart__wrapper {
    position: fixed;
    right: 40px;
    bottom: 80px;
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
#cart {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 109, 255);
    opacity: 0.7;
    transition: opacity 0.2s;
}
#cart:hover,
#cart:hover #cart__value {
    opacity: 1;
}
#cart__value {
    position: absolute;
    text-align: center;
    content: "";
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(92, 109, 255);
    opacity: 0.7;
}
.fullcart {
    min-width: 700px;
    display: flex;
}
#tabs {
    flex: 0 0 320px;
    margin-right: 15px;
}
.fullcart-photo {
    width: 320px;
    height: 280px;
    position: relative;
}
.fullcart__info-name {
    margin-bottom: 10px;
}
.fullcart__info-discription {
    line-height: 1.3em;
    font-size: 16px;
    margin-bottom: 10px;
}
.fullcart__info-price {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
}
.hidden {
    display: none;
}
.buyform__item {
    margin-bottom: 12px;
    font-size: 16px;
}
.buyform__item label,
.buyform-input {
    display: block;
    margin-bottom: 8px;
}
#slider-range-max {
    margin-bottom: 12px;
}
.buyform-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #0e183d;
    width: 100%;
}
#finished__buy {
    width: 100%;
    text-align: center;
}
.buyform__item .ib {
    display: inline-block;
}
.total__price {
    position: relative;
    padding: 10px;
    width: 100px;
    border: none;
}
#accordion {
    margin-bottom: 40px;
}
#accordion h3 {
    font-size: 24px;
}
#accordion p {
    font-size: 16px;
}
#confirme,
#alert {
    font-size: 16px;
    line-height: 22px;
}
.confirme__price {
    font-weight: bold;
    color: tomato;
}
